body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}
li {
  display: inline-block;
  list-style: none;
  margin-left: 72px;
}
li a {
  text-decoration: none;
  color: #f00;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
}
.item-1 {
  margin: 0;
}
ul {
  padding: 0;
  text-align: center;
  margin-top: 25.5px;
  margin-bottom: 25.5px;
}
img {
  width: 100%;
  margin-bottom: 48px;
}
.main-content {
  text-align: center;
}
.title {
  color: #373737;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.first-text {
  color: #373737;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin: 38px 67.5px 28px;
}
.second-text {
  color: #373737;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 2.4px;
  margin: 0 67.5px 67.5px 66px;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background: #f00;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  padding: 18px 43.5px;
  border: none;
}
.button:hover {
  background: rgb(196, 1, 1);
}
button a {
  text-decoration: none;
  color: #fff;
}
.footer-container {
  margin-right: 105px;
  margin-top: 82px;
  margin-bottom: 29px;
}
footer p {
  text-align: end;
  color: #373737;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
}
